

.open-sans {
  font-family: "Open Sans", sans-serif;
  font-variation-settings:
    "wdth" 100;
}

* {
    margin: 0px;
    padding: 0;
}
ul {
    list-style: none;
}

.container {
    max-width: 1020px;
    margin: 0 auto;
   
}
a {
    text-decoration: none;
}
.color2 {
    color: #FD6E0A;
}

#header {
    background-image: url("./images/developer.png");
    background-repeat: no-repeat;
    background-position: top left;
   
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    
   
  

}
.nav-item {
    
    display: flex;
    gap: 10px;
    align-items: center;
    
   
}

.nav-item li {

     font-size: 20px;
    
}


.navbar h2 {
    font-size: 45px;
}

#header {
    background-image: url("./images/developer.png");
    background-repeat: no-repeat;
    background-position: top left;
    padding-bottom: 230px;
  
   
}


.btn {
    background:#FD6E0A;
    padding: 15px 15px;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    font-size: 20px;
}



.btn-outline {
    background:transparent;
    padding: 15px 15px;
    border:1px solid #FD6E0A;
    color: #FD6E0A;
    cursor: pointer;
    border-radius: 10px;
    font-size: 20px;
}

.banner-button {
    display: flex;
    gap: 20px;
    align-items: center;
}

 .greetings {
    font-size: 45px;
   font-weight: 400;
}

.banner-content h1{
 font-size: 85px;
 font-weight: bold;
}
.des {
    margin: 30px 0px;
}

p {
    color: #757575;
}

.banner {
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin-top: 30px;

    

}

.banner-image {
    width: 584px;
   
 
  
}

.banner-image img {
    width: 100%;
     background-position: top left ;
}

.section {
    margin: 130px 0;
    
}

.about-section {
    margin: 100px 0;
}


.section-title {
    font-size: 35px;
    text-align: center;
    margin: 130px 0px;

}


.about p {
    margin: 50px 50px;
}

.info {
    display: flex;
    justify-content: space-between;
  

}

.ROK {
    font-size: 20px;
    color: #757575;
}

.about-section {
    background: #FFF8F3;
   padding: 130px 155px;
   
}

.about {
   
    text-align: center;
    font-weight: bold;
    background: white;
    padding: 10px;
   
}

.skill-container {
      display: flex;
    gap: 30px ;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;;
  
}


.skills-heading {
    text-align: center;
}

.skills-heading p {
   width: 805px;
    margin: 20px auto;
}

.skill {
    padding: 20px 20px;
    box-shadow: 0px 0px 20px -10px black;
}

.skill h4 {
    margin: 20px 0;
}

.education-colum {
    margin-top: 15px;
}



.education-title {
    font-size: 30px;
}

.education-colum h5 {
    font-size: 25px;
}

.education-colum h6 {
    font-size: 20px;
    color: #757575;
    margin-top: 10px;
    margin-bottom: 20px;
}
.education-colum h6 {
    
    margin-bottom: 20px;
}

.resume-container {
    display: flex;
    gap: 25px;
    margin-top: 40px;
}

.resume-download-btn {

    text-align: center;
    margin: 50px 0;
}

.container hr {
    margin: 20px 0;

}

#footer {
   background-color: #FFF8F3;
}

.footer-section-title {
    font-size: 35px;
}

.footer-content p {
    margin: 20px 0;
}
.footer-container {
    display: flex; 
}

.footer-content, .footer-form {
    width: 50%;
}

.social-icon {
    display: flex;
    gap: 20px;
}

.footer-form input[type="text"] , input[type="email"],textarea {
 height: 64px;
 display: block;
 width: 100%;
 padding: 10px 20px;
 border: none;
 margin-bottom: 30px;
}

.footer-container {
    padding: 50px 0;
}









