.open-sans {
  font-family: "Open Sans", sans-serif;
   font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}



ul {

    list-style: none;
}

.color {
    color: #FD6E0A;
}



.navbar {
    display: flex;
    justify-content: space-between;
}



.nav-item {
    display: flex;
    gap: 20px;
    

}